body {
  font-family: sans-serif;
  padding: 20px;
}

.token {
  display: inline-block;
  margin-right: 4px;
  cursor: default;
}

.token.highlight {
  border: 2px solid blue;
  border-radius: 6px;
  padding: 2px;
}
